body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#510c1b; background-image:url('../hex-bg.png'); 
    background-repeat:no-repeat; background-position:0px 75px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:white;
    min-height: 500px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   /* max-width: 280px; */
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}


select.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.main-logo {
    max-height: 400px;
    margin: 0 auto;
}

.en-logo {
    background:url('../en.png') center center no-repeat; top:.5em; position:relative
}
.en-logo span {
    display:none
}
