@model Nebulus.Models.MessageItem
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Message</legend>
        
        <table>
            <tr>
                <th></th>
            </tr>
        </table>

    </fieldset>

    <p>
        <input type="submit" value="Create" />
    </p>

}

