@using GridMvc.Html
@using Nebulus.Models
@using Microsoft.AspNet.Identity.EntityFramework

@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "ManageUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Users</h2>

<div class="row">
    <div class="col-md-8">
        <span>User Accounts</span>
        <section id="usersGrid">
        @Html.Grid(Model).Columns(columns =>
        {
            columns.Add(item => item.UserName).Titled("Name").Filterable(true);
            columns.Add(item => item.Email).Titled("E-mail").Filterable(true);
            columns.Add(item => item.Roles).Titled("Roles");

        })

        <br>

        @Html.ActionLink("Add User", "Register", new { @class = "btn btn-default" })
        </section>
    </div>
    <div class="col-md-4">
        <span>Active Directory Roles</span>
        <section id="adGroups">
        @Html.Grid(Nebulus.AppConfiguration.Settings.SecurityRoles).Columns(columns =>
        {
            columns.Add(item => item.Name).Titled("Name").Filterable(true);
            columns.Add(item => item.IdentityRole).Titled("Role").Filterable(true);
        })
        </section>
    </div>
</div>

