<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation />
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NebulusContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Nebulus.Models.ApplicationDbContext, Nebulus" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NotificationHubServerConenctionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://nebulushub-ns.servicebus.usgovcloudapi.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=ZOMdxKqtjrtVLV/kISeYy5eUBhxgWNKLr5QE3k7+0tM=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NotificationHubServerConenctionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchAttributes="$(UpdateFromConnectionStringAttributes)" MatchValue="Endpoint=sb://nebulushub-ns.servicebus.usgovcloudapi.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=ZOMdxKqtjrtVLV/kISeYy5eUBhxgWNKLr5QE3k7+0tM=" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="NotificationHubClientConenctionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NotificationHubClientConenctionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ServiceBUSConenctionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://nebulus.servicebus.usgovcloudapi.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=hfo7fMXzizec9265U9BY6+JX+EuqAqrwsTBSfJIzPYo=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ServiceBUSConenctionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=sb://nebulus.servicebus.usgovcloudapi.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=hfo7fMXzizec9265U9BY6+JX+EuqAqrwsTBSfJIzPYo=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NebulusContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NotificationHubClientConenctionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NotificationHubServerConenctionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ServiceBUSConenctionString-Web.config Connection String" />
  </ItemGroup>
</Project>